{% extends 'base.html' %}

{% block title %}Change User Password{% endblock %}

{% block content %}
<div class="card mx-auto" style="width: 21rem;">
    <div class="card-body">
        <h5 class="card-title text-center">Change Password</h5>
        {% if error == "" %}
        <br>
        {% else %}
        <div class="mb-4">
            <h6 class="card-subtitle text-center"><small>{{ error }}</small></h6>
        </div>
        {% endif %}
        <form method="post">
            <div class="mb-2">
                <input name="oldpassword" type="password" class="form-control" placeholder="Old Password"
                    id="oldPassword" required>
                <div class="invalid-feedback">This field is required.</div>
            </div>
            <div class="mb-3">
                <input type="checkbox" class="form-check-input" id="toggle-old-password">
                <label class="form-check-label" for="toggle-old-password">Show password</label>
            </div>
            <div class="mb-2">
                <input name="newpassword" type="password" class="form-control" placeholder="New Password"
                    id="newPassword" required>
                <div class="invalid-feedback">This field is required.</div>
            </div>
            <div class="mb-3">
                <input type="checkbox" class="form-check-input" id="toggle-new-password">
                <label class="form-check-label" for="toggle-new-password">Show password</label>
            </div>
            <hr>
            <div class="mb-4 text-center"><input type="submit" class="btn btn-secondary" value="Confirm"></div>
        </form>
        <div class="mb-3 text-center">
            <a class="card-link" href="{{ url_for('auth.user_page', user_id=session['user_id']) }}">Back to Profile</a>
        </div>
    </div>
</div>
<script>
    document.getElementById('toggle-old-password').addEventListener('click', function () {
        var passwordField = document.getElementById('oldPassword');
        if (passwordField.type === 'password') {
            passwordField.type = 'text';
        } else {
            passwordField.type = 'password';
        }
    });
</script>
<script>
    document.getElementById('toggle-new-password').addEventListener('click', function () {
        var passwordField = document.getElementById('newPassword');
        if (passwordField.type === 'password') {
            passwordField.type = 'text';
        } else {
            passwordField.type = 'password';
        }
    });
</script>
{% endblock %}