{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="card mx-auto" style="width: 21rem;">
    <div class="card-body">
        <h5 class="card-title text-center">Staff / Borrower Login</h5>
        {% if error %}
        <div class="text-center"><small>{{ error }}</small></div>
        {% endif %}
        <form method="post">
            <div class="mb-3">
                <label for="InputEmail" class="form-label"></label>
                <input name="email" type="email" class="form-control" id="InputEmail"
                    placeholder="Email Address (required)" required>
                <div class="invalid-feedback">This field is required.</div>
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="form-label"></label>
                <input name="password" type="password" class="form-control" id="inputPassword" placeholder="Password (required)"
                    required>
                <div class="invalid-feedback">This field is required.</div>
            </div>
            <div class="mb-3">
                <input type="checkbox" class="form-check-input" id="toggle-password">
                <label class="form-check-label" for="toggle-password">Show password</label>
            </div>
            <hr>
            <div class="mb-3 text-center"><input type="submit" class="btn btn-secondary" value="Login"></div>
        </form>
        <p class="d-grid gap-2">
            <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#guideCollapse1"
                aria-expanded="false" aria-controls="collapseExample">
                <strong>Forgot Password?</strong>
            </button>
        </p>
        <div class="collapse" id="guideCollapse1">
            <div class="card card-body">
                <p class="card-text">
                    <small>
                        You may approach or contact thru FB GCs any of our librarians to have your password reset.
                    </small>
                </p>
                <p class="card-text">
                    Librarians:
                    <ul>
                        <li>Gerard Pelaez</li>
                        <li>Chrystal Kaharian</li>
                        <li>Jed Uñalivia</li>
                    </ul>
                </p>
            </div>
            <br>
        </div>
    </div>
</div>
<script>
    document.getElementById('toggle-password').addEventListener('click', function () {
        var passwordField = document.getElementById('inputPassword');
        if (passwordField.type === 'password') {
            passwordField.type = 'text';
        } else {
            passwordField.type = 'password';
        }
    });
</script>
{% endblock %}