{% extends 'base.html' %}

{% block title %}Register Staff{% endblock %}

{% block content %}
<div class="card mx-auto" style="width: 21rem;">
    <div class="card-body">
        <h5 class="card-title text-center">Library Staff Registration</h5>
        {% if error %}
        <div class="text-center"><small>{{ error }}</small></div>
        {% endif %}
        <form method="post">
            <div class="mb-3">
                <label for="InputEmail" class="form-label"></label>
                <input name="email" type="email" class="form-control" id="InputEmail" placeholder="Email Address (required)" required>
                <div class="invalid-feedback">This field is required.</div>
            </div>
            <div class="mb-3">
                <input name="password" type="password" class="form-control" placeholder="Password (required)" required>
                <div class="invalid-feedback">This field is required.</div>
            </div>
            <div class="mb-3">
                <input name="full_name" type="text" class="form-control" placeholder="Full Name (required)" required>
                <div class="invalid-feedback">This field is required.</div>
            </div>
            <div class="mb-3">
                <input name="contact_number" type="text" class="form-control" placeholder="Contact Number (optional)">
            </div>
            <hr>
            <div class="text-center"><input type="submit" class="btn btn-danger" value="Register"></div>
        </form>
    </div>
</div>
{% endblock %}