{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block content %}
<div class="card mx-auto" style="width: 21rem;">
    <div class="card-body">
        <h5 class="card-title text-center">User Profile</h5>
        {% if error == "" %}
        <br>
        {% else %}
        <div class="invalid-feedback">{{ error }}</div>
        {% endif %}
        <form method="post">
            <div class="mb-3">
                <label for="InputEmail" class="form-label">Email</label>
                <textarea name="email" type="email" class="form-control" rows="1" id="InputEmail"
                    required>{{ g.user['email'] }}</textarea>
                <div class="invalid-feedback">This field is required.</div>
            </div>
            <div class="mb-3">
                <label for="InputFullname" class="form-label">Full Name</label>
                <textarea name="full_name" class="form-control" rows="1" id="InputFullname"
                    required>{{ g.user['full_name'] }}</textarea>
                <div class="invalid-feedback">This field is required.</div>
            </div>
            <div class="mb-3">
                <label for="InputContact" class="form-label">Contact Number (optional)</label>
                <textarea name="contact_number" type="text" class="form-control" rows="1"
                    id="InputContact">{{ g.user['contact_number'] }}</textarea>
            </div>
            <hr>
            <div class="text-center"><input type="submit" class="btn btn-secondary" value="Update"></div>
        </form>
    </div>
</div>
<br>
<div class="card mx-auto">
    <div class="card-body">
        <h5 class="card-title text-center">User Logs</h5>
    </div>
</div>
<br>
{% for log in user_logs %}
<div class="card mx-auto">
    <div class="card-header">
        <h6 class="card-subtitle">
            <span class="badge text-bg-{{badge[log['book_status']]}}">{{ log['book_status'] }}</span> 
            <span class="badge text-bg-light">{{ log['datetime_log'] }}</span>
        </h6>
    </div>
    <div class="card-body">
        <p class="card-text">{{ log['title'] }} ({{ log['author'] }}) </p>
        <p class="card-text">user: {{ log['full_name'] }}</p>
        <p class="card-text">Remarks/Comments:<br><small>{{ log['remarks'] }}</small></p>
        {% if g.user['library_staff'] %}
        <a class="btn btn-info" href="{{ url_for('book_log.enter_log', book_id=log['book_id']) }}">Edit this log</a>
        {% endif %}
    </div>
</div>
<div class="container-fluid">
    <hr>
</div>
{% endfor %}
<br>
<div class="container-fluid mx-auto">
    <ul class="pagination">
        <li class="page-item">
            {% if page > 1 %}
            <a class="page-link" href="{{ url_for('auth.user_page', page=page-1, user_id=session['user_id']) }}">Previous</a>
            {% endif %}
        </li>
        <li class="page-item"> <span class="page-link disabled">page {{page}} of {{total_pages}}</span> </li>
        <li class="page-item">
            {% if page < total_pages %} <a class="page-link" href="{{ url_for('auth.user_page', page=page+1, user_id=session['user_id']) }}">
                Next</a>
                {% endif %}
        </li>
    </ul>
</div>
{% endblock %}