{% extends 'base.html' %}

{% block title %}User Settings{% endblock %}

{% block content %}
<div class="card mx-auto" style="width: 21rem;">
    <div class="card-body">
        <h5 class="card-title text-center">User Settings</h5>
        <form method="post">
            <div class="mb-3">
                <label for="InputEmail" class="form-label">Email</label>
                <input name="email" type="email" class="form-control" rows="1" id="InputEmail"
                    value="{{ user['email'] }}" readonly>
            </div>
            <div class="mb-3">
                <label for="InputFullname" class="form-label">Full Name</label>
                <input name="full_name" class="form-control" rows="1" id="InputFullname" value="{{ user['full_name'] }}"
                    readonly>
                <div class="invalid-feedback">This field is required.</div>
            </div>
            <div class="mb-3">
                <label for="InputContact" class="form-label">Contact Number (optional)</label>
                <input name="contact_number" type="text" class="form-control" rows="1"
                    value="{{ user['contact_number'] }}" id="InputContact" readonly>
            </div>
            <div class="card-text text-center">User Role Settings</div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="roleRadio" value="Borrower" id="flexRadioDefault1" 
                {% if not user['library_staff'] %} checked {% endif %}>
                <label class="form-check-label" for="flexRadioDefault1">
                    Borrower
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="roleRadio" value="Library Staff"
                    id="flexRadioDefault2" {% if user['library_staff'] %} checked {% endif %}>
                <label class="form-check-label" for="flexRadioDefault2">
                    Library Staff
                </label>
            </div>
            <hr>
            <div class="row text-center">
                <div class="col"><input type="submit" class="btn btn-secondary" value="Update Role"></div>
                <div class="col">
                    <a type="submit" class="btn btn-outline-dark" href="{{ url_for('book_log.get_all_users') }}">Back to
                        User Accounts</a>
                </div>
            </div>
        </form>
        <hr>
        <div class="mb-3 text-center">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Reset Password
            </button>
            <!-- <a type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" href="{{ url_for('auth.reset_password', user_id=user_id) }}">Reset Password</a> -->

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Reset Password</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Assigned temporary password:<br>pilgrimchurchlibrary</p>
                            <p><small>Please advise user to immediately change this temporary password using their own account after reset.</small></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                            <a href=""></a>
                            <a type="button" class="btn btn-warning" href="{{ url_for('auth.reset_password', user_id=user_id) }}">Confirm Reset</a>
                            <!-- <button type="button" class="btn btn-warning">Confirm Reset</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}