{% extends 'base.html' %}

{% block title %}Main{% endblock %}

{% block content %}
{% if g.user %}
<div class="card mx-auto">
    <div class="card-body">
        <h5 class="card-title text-center">Welcome to Pilgrim Church Library App</h5>
        <h6 class="card-subtitle text-center"><small>Tap the buttons for a quick guide</small></h6>
        <hr>
        <p class="d-grid gap-2">
            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#guideCollapse1"
                aria-expanded="false" aria-controls="collapseExample">
                <strong>How do I search for a book?</strong>
            </button>
        </p>
        <div class="collapse" id="guideCollapse1">
            <div class="card card-body">
                <p class="card-text">
                    <small>
                        To browse for books, click the "Menu" dropdown from the top navigation bar to see the "Browse Books" link. 
                    </small>
                </p>
                <p class="card-text">
                    <small> 
                        For mobile users, the "Menu" dropdown can be accessed by clicking the hamburger icon at the top right of the screen. 
                        After clicking "Menu," select "Browse Books."
                    </small>
                </p>
                <p class="card-text">
                    <small>
                        You may search for books using keywords related to the book title or author. 
                        You may also find books by using the "Filter by Category" dropdown. 
                        Be sure to click "Search." 
                        You can view the book description by clicking "View Book Details."
                    </small>
                </p>
            </div>
            <br>
        </div>
        <p class="d-grid gap-2">
            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#guideCollapse2"
                aria-expanded="false" aria-controls="collapseExample">
                <strong>Found a book to borrow?</strong>
            </button>
        </p>
        <div class="collapse" id="guideCollapse2">
            <div class="card card-body">
                <p class="card-text">
                    <small>
                        Before borrowing any book and tapping the "Borrow" button on the app, kindly approach first our 
                        church librarian --<strong>Gerard Pelaez</strong> to be personally notified. Preferrably during Lord's Day.
                    </small>
                </p>
            </div>
            <br>
        </div>
        <p class="d-grid gap-2">
            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#guideCollapse3"
                aria-expanded="false" aria-controls="collapseExample">
                <strong>Who can borrow books from the library?</strong>
            </button>
        </p>
        <div class="collapse" id="guideCollapse3">
            <div class="card card-body">
                <p class="card-text">
                    <small>
                        All members of Pilgrim Community Church are welcome to borrow books from our library. 
                        As much as possible, library use is exclusive to church members. 
                        However, special provisions may be made for regular visitors who have a church member vouch for them. 
                    </small>
                </p>
                <p class="card-text">
                    <small>
                        This is because the borrowing of books must be logged using a church member's user account. 
                        Library staff will note in the remarks section when non-members borrow books.
                        Library users are expected to handle the borrowed books with care. 
                    </small>
                </p>
                <p class="card-text">
                    <small>
                        Members are responsible for the safekeeping of books while they are away from the church library. 
                        Should a borrowed book be damaged or lost, the responsible member is expected to communicate with and cooperate with the library staff to discuss compensation.
                    </small>
                </p>
            </div>
            <br>
        </div>
        <p class="d-grid gap-2">
            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#guideCollapse4"
                aria-expanded="false" aria-controls="collapseExample">
                <strong>Am I allowed to borrow any book to take home?</strong>
            </button>
        </p>
        <div class="collapse" id="guideCollapse4">
            <div class="card card-body">
                <p class="card-text">
                    <small>
                        Only books tagged as <span class="badge text-bg-success">Available</span> can be loaned to take home. 
                        <!-- Books tagged as <span class="badge text-bg-success">Available</span>
                        can be borrowed. All other books with status tags such as 
                        <span class="badge text-bg-warning">Borrowed</span>, <span class="badge text-bg-info">Returned</span>, 
                        etc. are, of course, not available for borrowing. It is also noticeable that the "Borrow" button is only
                        available on books in <span class="badge text-bg-success">Available</span> status. -->
                    </small>
                </p>
                <p class="card-text">
                    <small>
                        Books tagged as <span class="badge text-bg-light">Unavailable</span> are for in-library reading only. 
                        You may borrow these books, provided that you return them to the shelf as soon as you finish reading. 
                        These books cannot be taken home.
                        <!-- Books tagged as <span class="badge text-bg-light">Unavailable</span> are those that are for 
                        "room-reading only" and not available for borrowing. <br>
                        (We've also tagged a few books as "Unavailable" that are no longer part of our library.) -->
                    </small>
                </p>
            </div>
            <br>
        </div>
        <p class="d-grid gap-2">
            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#guideCollapse5"
                aria-expanded="false" aria-controls="collapseExample">
                <strong>How many books can I borrow and take home?</strong>
            </button>
        </p>
        <div class="collapse" id="guideCollapse5">
            <div class="card card-body">
                <p class="card-text">
                    <small>
                        For now, we will limit the number of books a member can borrow and have on hand to one.
                    </small>
                </p>
            </div>
            <br>
        </div>
        <p class="d-grid gap-2">
            <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#guideCollapse6"
                aria-expanded="false" aria-controls="collapseExample">
                <strong>How long can I have the book borrowed?</strong>
            </button>
        </p>
        <div class="collapse" id="guideCollapse6">
            <div class="card card-body">
                <p class="card-text">
                    <small>
                        For now, the member can have the book borrowed for two weeks (14 calendar days).
                        After that, we expect the book to be returned personally to any of our librarian 
                        (Preferrably during Lord's Day).
                    </small>
                </p>
            </div>
            <br>
        </div>
    </div>
</div>
<br>
{% endif %}
<div class="card mx-auto">
    <div class="card-body">
        <h5 class="card-title text-center">Books Log Feed</h5>
    </div>
</div>
<br>
{% for log in book_logs %}
<div class="card mx-auto">
    <div class="card-header">
        <h6 class="card-subtitle">
            <span class="badge text-bg-{{badge[log['book_status']]}}">{{ log['book_status'] }}</span>
            <span class="badge text-bg-light">{{ log['datetime_log'].strftime('%B %-d, %Y, %-I:%M %p') }}</span>
            <span class="badge text-bg-light">user: {{ log['full_name'] }}</span>
        </h6>
    </div>
    <div class="card-body">
        <p class="card-text">{{ log['title'] }} ({{ log['author'] }}) </p>
        <p class="card-text">Remarks/Comments:<br><small>{{ log['remarks'] }}</small></p>
        <a class="btn btn-outline-secondary" href="{{ url_for('book.view_book_details', book_id=log['book_id']) }}">View Book Details</a>
        {% if g.user['library_staff'] %}
        <a class="btn btn-info" href="{{ url_for('book_log.edit_log', log_id=log['id']) }}">Edit this log</a>
        {% endif %}
    </div>
</div>
<br>
{% endfor %}
<div class="container-fluid mx-auto">
    {% if total_pages > 1 %}
    <ul class="pagination">
        {% if current_page > 1 %}
        <li class="page-item"><a class="page-link" href="/?page=1">First</a></li>
        <li class="page-item"><a class="page-link" href="/?page-={{ current_page - 1 }}">Previous</a></li>
        {% endif %}
        <li class="page-item"><span class="page-link disabled"> Page {{ current_page }} of {{ total_pages }} </span></li>
        <!-- {% for i in range(1, total_pages + 1) %}
            {% if i == current_page %}
            <li class="page-item"><span class="page-link disabled"> {{ i }} </span></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="/books?page={{ i }}"> {{ i }} </a></li>
            {% endif %}
        {% endfor %} -->
        {% if current_page < total_pages %}
        <li class="page-item"><a class="page-link" href="/?page={{ current_page + 1 }}">Next</a></li>
        <li class="page-item"><a class="page-link" href="/?page={{ total_pages }}">Last</a></li>
        {% endif %}
    </ul>
    {% endif %}
</div>
{% endblock %}