{% extends 'base.html' %}

{% block title %}Browse Books{% endblock %}

{% block content %}
<div class="card mx-auto" style="width: 21rem;">
    <div class="card-body">
        <h5 class="card-title text-center">Browse Books</h5>
        <form method="post" role="search" class="text-center">
            <div class="mb-3">
                <input name="book_title" class="form-control me-2" type="search" placeholder="Search by Title keyword"
                    aria-label="Search">
            </div>
            <div class="mb-3">
                <input name="book_author" class="form-control me-2" type="search" placeholder="Search by Author keyword"
                    aria-label="Search">
            </div>
            <div class="mb-3">
                <label for="selectCategory" class="form-label">Filter by category</label>
                <select name="book_category" class="form-select" id="selectCategory"
                    aria-label="Default select example">
                    <option selected></option>
                    {% for category in categories %}
                    <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
            </div>

            <hr>
            <div class="mb-3 text-center"><button class="btn btn-outline-success" type="submit">Search</button></div>
        </form>
    </div>
</div>
<br>
{% endblock %}