{% extends 'base.html' %}

{% block title %}New Books{% endblock %}

{% block content %}
<div class="card mx-auto" style="width: 24rem;">
    <div class="card-body">
        <h5 class="card-title text-center">New Books</h5>
    </div>
</div>
<br>
{% for book in unlogged_books %}
<div class="card mx-auto" style="width: 24rem;">
    <div class="card-body">
        <h6 class="card-subtitle">{{ book['title'] }}</h6>
        <small class="card-text">Author: {{ book['author'] }}</small>
        <p><small class="card-text">Category: {{ book['category'] }}</small></p>
        <p class="card-text"><small>Description:<br>{{ book['book_desc'] }}</small></p>
        <p><small class="card-text">Database ID#: {{ book['id'] }}</small></p>
        <p><small class="card-text">EAN ISBN13: {{ book['ean_isbn13'] }}</small></p>
        <p><small class="card-text">UPC ISBN10: {{ book['upc_isbn10'] }}</small></p>
        <p><small class="card-text">Publisher: {{ book['publisher'] }}</small></p>
        <p><small class="card-text">Date published: {{ book['date_published'] }}</small></p>
        <p><small class="card-text">Date added: {{ book['date_added'] }}</small></p>
        <hr>
        {% if g.user['library_staff'] %}
        <a class="btn btn-danger" href="{{ url_for('book.edit_book_details', book_id=book['id']) }}">Edit book details</a>
        <a class="btn btn-info" href="{{ url_for('book_log.enter_log', book_id=book['id']) }}">Enter initial log</a>
        <p class="card-text"><small class="text-body-secondary">Set status to 'Available' if book is ready for borrowing.</small></p>
        {% endif %}
    </div>
</div>
<br>
{% endfor %}
<div class="container-fluid mx-auto">
    <ul class="pagination">
        <li class="page-item">
            {% if page > 1 %}
            <a class="page-link" href="{{ url_for('book.new_books', page=page-1) }}">Previous</a>
            {% endif %}
        </li>
        <li class="page-item"> <span class="page-link disabled">page {{page}} of {{total_pages}}</span> </li>
        <li class="page-item">
            {% if page < total_pages %} <a class="page-link" href="{{ url_for('book.new_books', page=page+1) }}">
                Next</a>
                {% endif %}
        </li>
    </ul>
</div>
{% endblock %}